<!DOCTYPE html>
<html lang="en">
<body class="container">
  <table>
    <tr>
      <th>Surf locations</th>
      <th>Today - <%= today %></th>
      <th>Tomorrow - <%= tomorrow %></th>
      <th>After Tomorrow - <%= afterTomorrow %></th>
    <tr>
    <% locations.forEach( function(location) { %>
     <tr>
       <td><a href="<%= location[0].source %>"><%= location[0].name %></a></td>
       <% location.forEach( function(o) { %>
         <td><%= o.waves %> <%= o.unit %> --- <%= o.tmpe %>&#x2103;</td>
        <% }) %>
     </tr>
    <% }) %>
</table>
</body>
</html>
